@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义样式
@layer base {
    h1 {
        display: block;
        font-size: 2em;
        margin: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    h2 {
        display: block;
        font-size: 1.5em;
        margin: 0.83em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    h3 {
        display: block;
        font-size: 1.17em;
        margin: 1em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    h4 {
        display: block;
        margin: 1.33em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    h5 {
        display: block;
        font-size: .83em;
        margin: 1.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    h6 {
        display: block;
        font-size: .67em;
        margin: 2.33em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    p {
        display: block;
        margin: 1em;
        margin-left: 0;
        margin-right: 0;
    }
} */